stages:
  - test
  - release

sis test:
  image: docker:27
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  tags:
    - dind
  services:
    - docker:dind
  stage: test
  script:
    - cd .ci-tests
    - docker-compose up -d
    - sleep 30
    - docker-compose logs wordpress -n 100
    - until docker-compose exec wordpress bash -c "ls /var/www/html/wp-config.php"; do echo "Waiting for wp-config.php..."; sleep 10; done
    - docker-compose exec wordpress bash -c "ls -all /var/www/html/wp-content/plugins"
    - docker-compose exec wordpress bash -c "cd /var/www/html/wp-content/plugins/extra-product-data-for-woocommerce && composer install"
    - docker-compose exec wordpress bash -c "wp plugin install woocommerce --allow-root --path=/var/www/html"
    - docker-compose exec wordpress bash -c "wp plugin activate woocommerce --allow-root --path=/var/www/html"
    - docker-compose exec wordpress bash -c "wp plugin activate extra-product-data-for-woocommerce --allow-root --path=/var/www/html"
    - docker-compose exec wordpress bash -c "chown -R www-data:www-data /var/www/html"
    - docker-compose exec wordpress bash -c "cd /var/www/html/wp-content/plugins/extra-product-data-for-woocommerce && vendor/bin/phpunit"

php linter:
  stage: test
  image: registry.gitlab.com/pipeline-components/php-linter:latest
  script:
    - parallel-lint --colors .

release job:
  image: node:22.12.0-bookworm-slim
  stage: release
  before_script:
    - apt-get update && apt-get install -y --no-install-recommends git-core ca-certificates zip curl jq
    - npm install -g semantic-release @semantic-release/gitlab @semantic-release/changelog @semantic-release/git @semantic-release/exec
  script:
    - semantic-release --debug
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"

include:
  - template: Jobs/SAST.gitlab-ci.yml
  - template: Jobs/Secret-Detection.gitlab-ci.yml