.exprdawc-label {
  font-weight: bold;
}

.woocommerce-input-wrapper .exprdawc-label-radio {
  display: inline-block;
  margin-left: 10px;
  font-weight: normal;
}

.exprdawc-field-yes-no .exprdawc-label,
.exprdawc-field-select .exprdawc-label {
  display: block;
}

.exprdawc-field-yes-no select,
.exprdawc-field-select select {
  width: 100%;
}

.exprdawc-description {
  font-style: italic;
  font-size: smaller;
}
