name: Release to Wordpress.org
on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  deploy_to_wp_repository:
    if: github.repository == 'triopsi/extra-product-data-for-woocommerce'
    name: Deploy to WP.org
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Verify version matches release tag
        run: utils/scripts/check-version.sh
      - name: WordPress Plugin Deploy
        id: deploy
        uses: tinify/action-wordpress-plugin-deploy@stable
        with:
          generate-zip: true
        env:
          SLUG: extra-product-data-for-woocommerce
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: ${{ github.workspace }}/extra-product-data-for-woocommerce.zip
          generate_release_notes: true
